[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioworkers = "==0.19.1"
prometheus-client = "==0.11.0"
pytest = "==6.2.4"
pytest-aioworkers = "==0.3"
pytest-cov = "==2.11.1"
pyyaml = "==5.4.1"

[dev-packages]
isort = "==5.8.0"
mypy = "==0.812"
flake8 = "==3.9.2"

[requires]
python_version = "3.6"
