[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioworkers = "*"
prometheus-client = "*"

[dev-packages]
pytest = "*"
pytest-aioworkers = "*"
pytest-flake8 = "*"
pytest-mypy = "*"
flake8-isort = "*"
pytest-cov = "*"
pytest-runner = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
