[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioworkers = "==0.20"
prometheus-client = "==0.14.1"
pytest = "==7.0.1"
pytest-aioworkers = "==0.3"
pytest-cov = "==4.0.0"
pyyaml = "==6.0"

[dev-packages]
isort = "==5.10.1"
mypy = "==0.971"
flake8 = "==5.0.4"

[requires]
python_version = "3.6"
